@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


h1 {
  color: rgba(36,62,99);
}

h2 {
  color: rgba(36,62,99);
}

img {
  width: 100%;
}

p {
  color: rgb(69, 69, 69);
}

#landing {
  height: 100vh;
}

.text-purple {
  color: rgb(100, 21, 255);
}

.container {
  padding: 84px 32px;
}

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.section-title {
  font-size: 52px;
  margin-bottom: 20px;
}

.section-subtitle {
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section-para {
  width: 100%;
  margin-bottom: 20px;
  line-height: 1.5em;
  font-size: 18px;
}

button {
  padding: 14px 30px;
  border-radius: 32px;
  background-color: rgb(100, 21, 255);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.column-wrapper {
  display: flex;
  justify-content: space-between;
}

.column-reverse {
  flex-direction: row-reverse;
}

.column-text-container {
  width: 48%;
}

.column-img {
  width: 48%;
  display: flex;
  align-items: center;
}
/*
NAVIGATION
*/

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wrapper {
  width: 50px;
}

.logo-text {
  margin-left: 8px;
  font-size: 28px;
  font-weight: bold;
}

.nav-link {
  font-size: 16px;
  position: relative;
  text-decoration: none;
  color: #504f4f;
  font-weight: 500;
  margin: 0 24px;
  text-align: center;
}

.nav-link:nth-child(5) {
  margin: 0px 24px 0px 48px;
}

.nav-link:nth-child(6) {
  margin: 0px;
  padding: 12px 32px;
  color: white;
  border-radius: 20px;
  background-color: rgb(100, 21, 255);
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -1px;
  width: 100%;
  border: 1px solid rgb(100, 21, 255);
  opacity: 0;
  transition: all 300ms ease;
}

.nav-link:nth-child(6):after {
  border: none;
}

.nav-link:hover {
  color: rgb(100, 21, 255);
}

.nav-link:nth-child(6):hover {
  color: white;
  background-color: rgb(120, 52, 255);
}

.nav-link:hover:after {
  opacity: 1;
}

/* 
HEADER 
*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-description {
  width: 40%;
  text-align: left;
  padding-right: 16px;
}

.header-title {
  font-size: 3rem;
  margin-bottom: 32px;
}

.header-para {
  font-size: 1.125rem;
  margin-bottom: 32px;
}

.header-input {
  width: 100%;
  position: relative;
  max-width: 28rem;
  margin-bottom: 32px;
}

.header-email-input {
  padding: 20px 192px 20px 32px;
  border: 1px solid rgb(167, 166, 166);
  border-radius: 32px;
  font-size: 16px;
  width: 100%;
}

.header-email-button {
  bottom: 7px;
  right: 10px;
  padding: 14px 30px;
  border-radius: 32px;
  position: absolute;
  background-color: rgb(100, 21, 255);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.customer-para {
  font-weight: 700;
  filter: brightness(200%);
}

.customers {
  margin-top: 80px;
}

.customers-img-wrapper {
  display: flex;
  margin-top: 15px;
  margin-left: -3px;
  padding-right: 50px;
  filter: brightness(150%);
}

.header-img {
  width: 60%;
}

/* 
FEATURES 
*/

.feature-container {
  margin: -32px 0px;
}

.feature-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

.feature-para {
  max-width: 600px;
  text-align: center;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 16px;
}

.feature {
  display: flex;
  width: calc(100% / 3);
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 60px;
}

.feature-list-icon {
  border: 1px gray solid;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  color: rgb(100, 21, 255);
  font-size: 24px;
}

.feature-list-text-container {
  padding-top: 12px;
  margin-left: 20px;
}

.feature-list-title {
  font-size: 24px;
  margin-bottom: 24px;
}

.feature-list-para {
  max-width: 200px;
  width: 100%;
  line-height: 2em;
}

/*
STEP
*/

.step {
  display: flex;
  align-items: start;
  margin: 32px 0px;
}

.step-number {


  font-size: 36px;
  font-weight: bold;
  color: rgb(203,213,224);
  margin-right: 20px;
}

.step-text-container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.step-title {
  margin-bottom: 16px;
}

.step-para {
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  line-height: 1.5em;
}

/*
VALUES 
*/

.values { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 36px;
}
.value {
  margin-bottom: 42px;
  width: 50%;
  min-width: 270px;
  padding-right: 30px; 
}
.value-header {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}

.value-icon {
  border: 1px gray solid;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 18px;
  margin-right: 12px;

}

.green {
  background-color: rgba(0, 235, 0, 0.453);
  color: rgba(0, 132, 0, 0.951)
}

.red {
  background-color: rgba(235, 0, 0, 0.453);
  color: rgba(132, 0, 0, 0.951)
}

.value-para {
  font-size: 16px;
  line-height: 1.75em;
}

/* 
PRICING 
*/

.prices {
  display: flex;
  justify-content: space-between;
}

.pricing-text-wrapper {
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.pricing-para-width {
  max-width: 550px;
  margin: 0 auto;
}

.price {
  width: calc(93%/3);
  height: 500px;
  border: 1px solid rgba(128, 128, 128, 0.149);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 16px;

}

.price:nth-child(1) {
  border-top: 8px solid rgb(56, 178, 172);

}
.price:nth-child(2) {
  background-color: rgb(76, 81, 191);
  color: white;

}
.price:nth-child(3) {
  border-top: 8px solid rgb(223, 18, 18);
}

.price-header {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.price-plan-text {
  color: #000;
  font-size: 20px;
}

.price:nth-child(2) .price-plan-text{
  color: white;

}

.price-cost-text {
  color: #000;

  font-size: 48px;
}

.price:nth-child(2) .price-cost-text{
  color: white;

}

.price-duration-text {
  font-size: 18px;
  color:rgb(167, 166, 166);
  letter-spacing: 2px;
}

.price:nth-child(2)  .price-duration-text{
  color: white;
}

.vl {
width: 100%;
display: flex;
height: 1px;
background-color: rgba(128, 128, 128, 0.4);
}

.plan-description {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.plan-description-item {
  margin-bottom: 16px;
}

.plan-description-item:nth-child(1) {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}
.price-btn {
  margin-top: 20px;
  padding: 14px 4rem;
}

.price:nth-child(1) .price-btn {
  background-color: rgb(56, 178, 172);
}

.price:nth-child(2) .price-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(100, 21, 255);
}

.price:nth-child(3) .price-btn {
  background-color: rgb(223, 18, 18);
}


/*
TESTIMONIALS 
*/

.testimonials {
  margin-top: 42px;
}
.testimonial-review-icons {
  color : rgba(246,173,85);
  margin-bottom: 16px;
}

.testimonial-review-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.testimonial-review-text {
  line-height: 1.5em;
}

.review-profile {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 42px;
}

.review-profile-picture {
  display: flex;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.review-profile-info-wrapper {
  margin-left: 24px;
}

/*
FOOTER 
*/

footer {
  background-color: rgba(100,21,255);
  padding: 1%;
  overflow: hidden;
}

.footer-link-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.footer-list {
  width: calc(50%/5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.footer-list-title {
  color: white;
  margin-bottom: 24px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-link {
color: white;
text-decoration: none;
margin-bottom: 12px;
font-size: 16px;
}

.footer-link:hover {
  text-decoration: underline;
  }



  .footer-logo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
  }

  .footer-logo {
    display: flex;
    align-items: center;
  }

  .footer-logo-text {
    color: white;
    margin-left: 16px;
  }

  .footer-copyright-text {
    color: white;
  }

  .footer-social-icons {
    width: 15%;
    display: flex;
    justify-content: space-between;
  }

  .fa-facebook-f {
    padding: 8px 11px;
    background-color: white;
    border-radius: 20px;
  }

  .fa-twitter {
    padding: 8px;
    background-color: white;
    border-radius: 20px;
  }

  .fa-youtube {
    padding: 8px;
    background-color: white;
    border-radius: 20px;
  }

  @media (max-width: 950px) {

    .header {
      margin-top: -20px;
  display: inline;
    }
    .header-description {
      width: 65%;
      margin: auto;
      padding: 0;
    }
    .header-title {
      text-align: center;
    }
    .header-para {
      text-align: center;
    } 
    .header-input {
      margin: auto
    }
    .customers {
      margin-top: 40px;
      text-align: center;
    }
    .customers-img-wrapper {
      display: flex;
      justify-content: center;
    }
    .header-img {
      width: 50%;
      margin: auto;
    }
    .feature {
      width: 50%;
    }
    .column-wrapper {
      display: inline;
    }
    .column-text-container {
      width: 75%;
      margin: auto;
    }
    .column-img {

      width: 75%;
      margin: 50px auto 0px auto;
    }

    .section-subtitle  {
      text-align: center;
    }
    .section-title {
      text-align: center;
    }

    .steps {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .prices {
      flex-wrap: wrap;
    }

    .price {
      width: 75%;
      margin: 15px auto;
    }

    .footer-link-list {
      flex-wrap: wrap;
      justify-content: space-between;
      justify-content: center;

    }
    .footer-list {
      width: 33%;
      align-items: center;
    }
    .footer-logo-row {
      justify-content: space-around;
    }

